#landing {

}

.card {
    margin-top: 10%;
}

h1 {
    color: #4aaaae;
    padding: 1.5% 0 0 2%;
}


/* landing page buttons */
.showContentBtn {
    
}

.showContentBtn :hover {

}

/* github, linkedin, email */
.connect {

}

.figure {
   border: 1px solid black;
}

figcaption {

}

footer {
    
}

.projectImage {
    overflow: none;
}