body {
    background-image: url("../images/landingbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

#landing {

}

.card {
    margin: 2.5%;
}

.navbar {
    margin-bottom: 5%;
}

h1 {
    color: #4aaaae;
    padding: 1.5% 0 0 2%;
}

/* github, linkedin, email */
.connect {

}

.projectImage {
   border: 1px solid black;
   height: 25vh;
   width: 30vw;
}

figcaption {

}

footer {
    
}

.projectImage {
    overflow: none;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.white {
    color: white;
}

.white:hover {
    color: rgb(23,162,184);
}